@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #fefefe;
  overflow-x: hidden;
}



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10%;
    --left-color: #128D77;
    --right-color: #96dbe2;
    background-image: linear-gradient(to right, var(--left-color), var(--right-color));
    color: white;
    justify-content: space-between;
}
h3{
  color: #2f806e;
  text-align:center;
}
h5{
    color: #ffffff;
    text-align:center;
    background: #128d767b;
    border-radius: 30px;
    width:130px;
   

    
   
    
  }
.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  --left-color: #ffffff; 
  --right-color: #ffffff;
  background-image: linear-gradient(to right, var(--left-color), var(--right-color));
  color: #2f806e;
  width:27em ;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 30%);
  border-radius: 10px;
  padding: 35px;
  margin: 15px;
  cursor: pointer
}
.card:hover{
  background-color:rgba(2, 1, 1, 0.20) ;
  transform: scale(1.07);
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}


.info h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}


nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
  padding: 5px 20px;
  color: #128D77;
  background: rgba(255, 255, 255, 0.712);
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul li a:hover{
    color:#128D77;
}

.cta{
    background-color: #128D77;
    color: #FFF;
}

.cta:hover{
    background-color: #128D77;;
    color: #FFF;
}


.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  display: flex;
  justify-content: center;
  color:#128D77;    ;
  font-size: 4.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.button{
  padding: 5px 20px;
    color: white;
    background-color: #128D77;
    text-align: center;
    text-transform: uppercase;
    position:relative; 
     top:2px;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.button:hover {
  background-color: #80c9bb;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}


.info h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

#options {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#options option {
  background-color: #f4f4f4;
  padding: 5px;
}

#options option[disabled] {
  color: #999;
}

#options:hover {
  border-color: #999;
}

.container {
display: flex; /* Use flexbox to create a flex container */
align-items: center; /* Vertically align items */
}

.space {
width: 10px; /* Set width for the space div */
}
.side-by-side-content {
/* Add any styling you want for the div here */
margin-left: 100px; /* Add some spacing between select and div */
}

.side-by-side-content1 {
  /* Add any styling you want for the div here */
  margin-left: 70px; /* Add some spacing between select and div */
  }
  .side-by-side-content2 {
    /* Add any styling you want for the div here */
    margin-left: 85px; /* Add some spacing between select and div */
    }
  
    .side-by-side-content3 {
      /* Add any styling you want for the div here */
      margin-left: 130px; /* Add some spacing between select and div */
      }

.card-header {

padding: 10px 0;
text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #f1f1f1;
}

        
.footer_section {
    background: #2f806e76;
    color: hsl(0, 0%, 100%);
    padding: 60px 0 15px 0;
    position: relative;
  }
  
  .footer_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer_section .footer_col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #2f806e76;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
  }
  
  .footer_section .footer_social a:hover {
    color: #2f806e76;
  }
  
  .footer_section .footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footer_section .footer_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .footer_section .footer_links a:hover {
    color: #2f806e76;
  }
  
  .footer_section form input {
    border: none;
    background-color: #fefefe;
    width: 100%;
    height: 45px;
    color: #000000;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  .footer_section form input::-webkit-input-placeholder {
    color: #777;
  }
  
  .footer_section form input:-ms-input-placeholder {
    color: #777;
  }
  
  .footer_section form input::-ms-input-placeholder {
    color: #777;
  }
  
  .footer_section form input::placeholder {
    color: #777;
  }
  
  .footer_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #2f806e76;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #2f806e76;
    margin-top: 15px;
  }
  
  .footer_section form button:hover {
    background-color: transparent;
    color: #2f806e76;
  }
  
  .footer_section .footer-info {
    text-align: center;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }.footer_section {
    background: #128D77;
    color: #ffffff;
    padding: 60px 0 15px 0;
    position: relative;
  }
  
  .footer_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer_section .footer_col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #128D77;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
  }
  
  .footer_section .footer_social a:hover {
    color: #128D77;
  }
  
  .footer_section .footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footer_section .footer_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .footer_section .footer_links a:hover {
    color: #128D77;
  }
  
  .footer_section form input {
    border: none;
    background-color: #fefefe;
    width: 100%;
    height: 45px;
    color: #128D77;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  .footer_section form input::-webkit-input-placeholder {
    color: #777;
  }
  
  .footer_section form input:-ms-input-placeholder {
    color: #777;
  }
  
  .footer_section form input::-ms-input-placeholder {
    color: #777;
  }
  
  .footer_section form input::placeholder {
    color: #777;
  }
  
  .footer_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #128D77;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #128D77;
    margin-top: 15px;
  }
  
  .footer_section form button:hover {
    background-color: transparent;
    color: #128D77;
  }
  
  .footer_section .footer-info {
    text-align: center;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }